<h1> Requests to book your properties are here: </h1>

<form action="spaces/approve" method="post"> 
  <input type="submit" value="Approve">
</form>

<ul>
  <% if @approval%>
    <li> <%= 'You have approved this booking' %> </li>
<% end %>
</ul>
