<h1> Requests to book your properties are here: </h1>

<ul>
    <li> <%= @booking_request.property_name %> </li>
    <li> <%= @booking_request.stay_date %> </li>
</ul>

<form action="/spaces/approval" method="post"> 
  <input type="submit" value="Approve">
</form>


<form action='/'>
<input type='submit' value='Home'>
</form>


