
<form action ="/spaces/booking/" method="post">
<input type="text" name="name" placeholder="Property Name"> 
<input type ="text" name="stay_date" placeholder= "Stay Date">
<input type="submit" name="Submit">


</form>
<h1> <%= @name %> </h1>

