<h1> Want to list a new property? </h1>

<form action='/spaces' method='post'>
Name of the property: <input type='text' name='name'>
Availability from: <input type='text' name='date_from'>
Availability to: <input type='text' name='date_to'>
<input type='submit' value='Submit'>
</form>