<h1> Want to list a new property? </h1>

<form action='/spaces' method='post'>
Name of the property: <input type='text' name='name'>
Short description: <input type='text' name='short_description'>
Price per night: <input type='text' name='price'>
<input type='submit' value='Submit'>
</form>