<form action='/users' method='post'>
<input type='text' name='name' placeholder='Please type your name here'>
<input type='email' name='email' placeholder='Please type your email here'>
<input type='password' name='password' placeholder='Please type your password here'>
<input type="submit" value="Register" >
</form>